<div class="row">
  <div class="col s12" style="text-align: right; margin-top: 25px;">
    <a href="/">logout</a>
  </div>
</div>
<div class="row">
  <div class="col s12 m6" *ngFor="let instituicao of instituicoes">
    <div class="card">
      <div class="card-image">
        <img src="https://i.imgur.com/AMf9X7E.jpg" draggable="false">
        <span class="card-title">{{instituicao.nome}}</span>
      </div>
      <div class="card-action">
        <button #button class="waves-effect waves-light btn-flat" attr.id="{{instituicao.id}}" (click)="direcionar(button)">Ver eventos</button>
      </div>
    </div>
  </div>
</div>