<div class="row">
  <div class="col s12 m7" *ngFor="let instituicao of instituicoes">
    <div class="card">
      <div class="card-image">
        <img src="http://morganfillman.space/800/300" draggable="false">
        <span class="card-title">{{instituicao.nome}}</span>
      </div>
      {{instituicao.id}}
      
      <div class="card-action">
        <button #button class="waves-effect waves-light btn-flat" attr.id="{{instituicao.id}}" (click)="direcionar(button)">Ver eventos</button>
      </div>
    </div>
  </div>
</div>