<div class="col s12">
  <h3>Login</h3>
</div>

<div class="row">
  <form action="" class="col s12 login-form">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" class="validate" id="username">
        <label for="username">Usuário</label>
      </div>
      <div class="input-field col s12">
        <input type="password" class="validate" id="senha">
        <label for="senha">Senha</label>
      </div>
      <div class="input-field col s12">
        <button type="submit" class="col s12 btn btn-primary">Entrar</button>
      </div>
      <div class="col s12" style="text-align: center; margin-top: 25px;">
        <a href="/cadastro">Cadastre-se</a>
      </div>
    </div>
  </form>
</div>